<div class="collapse navbar-collapse my-container-three" id="navbar-menu">
    <ul class="nav navbar-nav navbar-left" data-in="fadeIn">
        <li><%= link_to 'Trang Chủ', erp_vnmechanical.root_path, title: 'Quay về trang chủ', class: 'active' %></li>
        <li><%= link_to 'Giới Thiệu', '', title: 'Giới Thiệu', class: '' %></li>
        <li class="dropdown">
            <%= link_to 'Dịch Vụ', '', class: 'dropdown-toggle', title: 'Dịch Vụ', data: {toggle: 'dropdown'} %>
            <ul class="dropdown-menu">
                <li><%= link_to 'Tư Vấn', '', title: '' %></li>
                <li><%= link_to 'Nâng Cấp', '', title: '' %></li>
                <li><%= link_to 'Hỗ Trợ Kỹ Thuật', '', title: '' %></li>
                <li><%= link_to 'Phụ Tùng Thay Thế', '', title: '' %></li>
                <li><%= link_to 'Bảo Trì', '', title: '' %></li>
                <li><%= link_to 'Lắp Đặt - Chạy Thử - Đào Tạo', '', title: '' %></li>
            </ul>
        </li>
        <li class="dropdown">
            <%= link_to 'Sản Phẩm', '', class: 'dropdown-toggle', title: 'Sản Phẩm', data: {toggle: 'dropdown'} %>
            <ul class="dropdown-menu">
                <li><%= link_to 'Băng Tải', '', title: '' %></li>
                <li><%= link_to 'Máy Chiết Rót', '', title: '' %></li>
                <li><%= link_to 'Máy Nông Nghiệp', '', title: '' %></li>
                <li><%= link_to 'Máy Đóng Gói Cân Điện Tử', '', title: '' %></li>
                <li><%= link_to 'Phụ Kiện Máy Đóng Gói', '', title: '' %></li>
                <li><%= link_to 'Máy Đóng Gói Dạng Lỏng', '', title: '' %></li>
                <li><%= link_to 'Máy Đóng Gói Dạng Bột - Hạt', '', title: '' %></li>
                <li><%= link_to 'Máy Dán Miệng Ly', '', title: '' %></li>
                <li><%= link_to 'Máy Đóng Gói Dạng Nằm', '', title: '' %></li>
            </ul>
        </li>
        <li><%= link_to 'Tin Tức', '', title: 'Tin Tức', class: '' %></li>
        <li><%= link_to 'Hình Ảnh', '', title: 'Hình Ảnh', class: '' %></li>
        <li><%= link_to 'Tuyển Dụng', '', title: 'Tuyển Dụng', class: '' %></li>
        <li><%= link_to 'Liên Hệ', '', title: 'Liên Hệ', class: '' %></li>
    </ul>
    <div class="my-shopping page-two pull-right">
        <a href="#"><span class="icon icon-ShoppingCart my-shopping-icon"></span></a>
    </div>
</div>