<div class="collapse navbar-collapse my-container-three" id="navbar-menu">
    <ul class="nav navbar-nav navbar-left" data-in="fadeIn">
        <li><%= link_to 'Trang Chủ', erp_vnmechanical.root_path, title: 'Quay về trang chủ', class: 'active' %></li>
        <li><%= link_to 'Giới Thiệu', erp_vnmechanical.about_us_path, title: 'Giới Thiệu', class: '' %></li>
        <li class="dropdown">
            <%= link_to 'Dịch Vụ', erp_vnmechanical.service_listing_path, class: 'dropdown-toggle', title: 'Dịch Vụ', data: {toggle: 'dropdown'} %>
            <ul class="dropdown-menu">
                <li><%= link_to 'Tư Vấn', erp_vnmechanical.service_detail_path, title: '' %></li>
                <li><%= link_to 'Nâng Cấp', erp_vnmechanical.service_detail_path, title: '' %></li>
                <li><%= link_to 'Hỗ Trợ Kỹ Thuật', erp_vnmechanical.service_detail_path, title: '' %></li>
                <li><%= link_to 'Phụ Tùng Thay Thế', erp_vnmechanical.service_detail_path, title: '' %></li>
                <li><%= link_to 'Bảo Trì', erp_vnmechanical.service_detail_path, title: '' %></li>
                <li><%= link_to 'Lắp Đặt - Chạy Thử - Đào Tạo', erp_vnmechanical.service_detail_path, title: '' %></li>
            </ul>
        </li>
        <li class="dropdown">
            <%= link_to 'Sản Phẩm', erp_vnmechanical.product_listing_path, class: 'dropdown-toggle', title: 'Sản Phẩm', data: {toggle: 'dropdown'} %>
            <ul class="dropdown-menu">
                <% Erp::Menus::Menu.get_menus.get_active.each do |menu| %>
                    <li><%= link_to menu.name, menu_link(menu) %></li>
                <% end %>
            </ul>
        </li>
        <li><%= link_to 'Tin Tức', erp_vnmechanical.blog_listing_path, title: 'Tin Tức', class: '' %></li>
        <li><%= link_to 'Hình Ảnh', erp_vnmechanical.gallery_path, title: 'Hình Ảnh', class: '' %></li>
        <li><%= link_to 'Tuyển Dụng', erp_vnmechanical.recruitment_listing_path, title: 'Tuyển Dụng', class: '' %></li>
        <li><%= link_to 'Liên Hệ', erp_vnmechanical.contact_us_path, title: 'Liên Hệ', class: '' %></li>
    </ul>
    <div class="my-shopping page-two pull-right">
        <a href="#"><span class="icon icon-ShoppingCart my-shopping-icon"></span></a>
    </div>
</div>