<!-- Inner page heading start -->
<section class="my-inner-heading-field my-inner-heading-three  my-layer-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="my-inner-heading-col">
                    <h2><%= @product.product_name %></h2>
                    <p>
                        <%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_vnmechanical.root_path, title: 'Quay về trang chủ' %>
                        <% if !@menu.nil? %>
                            <% @menu.self_and_parent_menus.each do |menu| %>
                                <%= link_to menu.name, menu_link(menu), class: 'bread-back' %>
                            <% end %>
                        <% end %>
                        <span class='bread-back'><%= @product.product_name %></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inner page heading end -->

<% product_images = @product.product_images %>

<!-- Shop single start -->
<section class="my-shop-single">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="my-shop-single-col">
                    <%= link_to image_tag(@product.main_image.image_url.thumb650, alt: @product.product_name),
                        @product.main_image.image_url.thumb650.url,
                        title: '', class: 'lightbox-image' %>
                    <div class="my-popup-img clearfix">
                        <ul>
                            <% product_images.each_with_index do |image,index| %>
                                <li>
                                    <%= link_to image_tag(image.image_url.thumb170, alt: ''),
                                                image.image_url.thumb170.url,
                                                title: @product.product_name, class: 'lightbox-image' %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="my-shop-single-col">
                    <div class="my-shop-details">
                        <h2><%= @product.product_name %></h2>
                        <h4 style="font-family: sans-serif;color: #00bcd5;" class="my-price">
                            <del></del>
                            Liên hệ: (+84-9) 4774 8895</h4>
                        <p>
                            <strong>Xuất xứ: </strong> Việt Nam<br>
                            <strong>Số model: </strong> <%= @product.code %><br>
                            <strong>Bảo hành: </strong> --<br>
                        </p>
                        <% if @product.short_description.present? %>
                            <p>
                                <%= raw @product.short_description %>
                            </p>
                        <% end %>
                    </div>
                    <div class="my-order-details">
                        <h6>
                            Đang kinh doanh
                            <a class="btn btn-default my-btn-yellow" href="<%= erp_vnmechanical.contact_us_path %>">Đặt hàng</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <% if @product.description.present? and false %>
            <div class="row">
                <div class="col-md-12">
                    <div class="my-tab-row">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <% if @product.description.present? %>
                                <li role="presentation" class="active"><a href="#tab_1" aria-controls="home" role="tab" data-toggle="tab">Mô tả</a></li>
                            <% end %>
                            <% if false %>
                                <li role="presentation"><a href="#tab_2" aria-controls="messages" role="tab" data-toggle="tab">Nhãn sản phẩm</a></li>
                            <% end %>
                        </ul>
                        <div class="tab-content">
                             <% if @product.description.present? %>
                                <div role="tabpanel" class="tab-pane fade in active" id="tab_1">
                                    <%= @product.description.html_safe %>
                                </div>
                            <% end %>
                            <% if false %>
                                <div role="tabpanel" class="tab-pane fade" id="tab_2">
                                    <div class="my-tags clearfix">
                                        <ul>
                                            <li><a href="#">băng tải</a></li>
                                            <li><a href="#">băng tải pvc</a></li>
                                            <li><a href="#">băng tải pu</a></li>
                                            <li><a href="#">băng tải cong</a></li>
                                        </ul>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</section>
<!-- Shop single end -->

<!-- Shop start -->
<section class="my-shop-field">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="my-section-title">
                    <h2>Sản Phẩm <span>Liên Quan</span></h2>
                    <div class="my-title-line"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row animatedParent animateOnce">
          <% @product.get_related_products.each do |product| %>
            <div class="col-md-4 col-sm-6">
                <div class="my-shop-col animated fadeInUpShort slow delay-250">
                    <div class="my-shop-item">
                        <%= image_tag product.main_image.image_url.thumb650, alt: product.product_name %>
                        <% if product.is_deal? %>
                            <div class="my-shop-layer-arrow" style="border-top: 60px solid #00bcd5;">
                                <p style="color: #fff">kh.mãi</p>
                            </div>
                        <% end %>
                        <div class="my-shop-layer">
                            <%= link_to '<i class="icofont icofont-search-alt-1"></i>'.html_safe,
                                        product.main_image.image_url.thumb650.url, title: 'Xem hình ảnh',
                                        class: 'lightbox-image' %>
                            <%= link_to '<i class="icofont icofont-calculations"></i>'.html_safe,
                                        product_link(product), title: 'Xem chi tiết' %>
                        </div>
                    </div>
                    <div class="my-shop-bottom">
                        <h3><%= link_to product.product_name, product_link(product), title: product.product_name %></h3>
                        <h4 style="font-family: sans-serif;color: #00bcd5;"> Liên hệ: 094 774 8895</h4>
                        <div class="my-add-btn" style="background: #00bcd5;">
                            <a href="<%= erp_vnmechanical.contact_us_path %>">
                                Đặt hàng
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</section>
<!-- Shop end -->