<!-- Inner page heading start -->
<section class="my-inner-heading-field my-inner-heading-three  my-layer-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="my-inner-heading-col">
                    <h2><%= @menu.name %></h2>
                    <p>
                        <%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_vnmechanical.root_path, title: 'Quay về trang chủ' %>
                        <% @menu.self_and_parent_menus.each do |menu| %>
                            <% if @menu.id != menu.id %>
                                <%= link_to menu.name, menu_link(menu), class: 'bread-back' %>
                            <% end %>
                        <% end %>
                        <span class='bread-back'><%= @menu.name %></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inner page heading end -->

<!-- Shop start -->
<section class="my-shop-field">
    <div class="container">
        <div class="row animatedParent animateOnce">
            <% if @products.count > 0 %>
                <% @products.each do |product| %>
                    <div class="col-md-4 col-sm-6">
                        <div class="my-shop-col animated fadeInUpShort slow delay-250">
                            <div class="my-shop-item">
                                <%= image_tag product.main_image.image_url.thumb650, alt: product.product_name %>
                                <!--<div class="my-shop-layer-arrow" style="border-top: 60px solid #00bcd5;">-->
                                <!--    <p style="color: #fff">khuyến mãi</p>-->
                                <!--</div>-->
                                <div class="my-shop-layer">
                                    <%= link_to '<i class="icofont icofont-search-alt-1"></i>'.html_safe,
                                                product.main_image.image_url.thumb650.url, title: 'Xem hình ảnh',
                                                class: 'lightbox-image' %>
                                    <%= link_to '<i class="icofont icofont-calculations"></i>'.html_safe,
                                                product_link(product), title: 'Xem chi tiết' %>
                                </div>
                            </div>
                            <div class="my-shop-bottom">
                                <h3><%= link_to product.product_name, product_link(product), title: product.product_name %></h3>
                                <h4 style="font-family: sans-serif;color: #00bcd5;"> Call: 094 774 8895</h4>
                                <div class="my-add-btn" style="background: #00bcd5;">
                                    <a href="#">
                                        THÊM VÀO GIỎ HÀNG
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> Hiện chưa có sản phẩm cho chuyên mục này.
                </div>
            <% end %>
        </div>
    </div>
</section>
<!-- Shop end -->