<!DOCTYPE html>
<html dir="ltr" lang="vi">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link href="/vnmechanical/images/favicon.png" rel="shortcut icon" type="image/png">
	<link href="/vnmechanical/images/apple-icon.png" rel="icon" type="image/png">
	<!-- Industrial Title -->
	<title>Trang Chủ - VNMechanical</title>

	<!-- css file -->
    <%= stylesheet_link_tag '/vnmechanical/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/vnmechanical/css/style.css' %>
    
	<!-- Responsive stylesheet -->
    <%= stylesheet_link_tag '/vnmechanical/css/responsive.css' %>
	
	<!-- Custom stylesheet -->
	<%= stylesheet_link_tag '/vnmechanical/css/custom.css' %>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %>
      <%= javascript_include_tag 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %>
    <![endif]-->
</head>
<body>

	<!-- Main Header Start -->
	<%= render "erp/vnmechanical/frontend/modules/header" %>
	<!-- Main Header end -->

	<!-- Main Content Start -->
    <%= yield %>
    <!-- Main Content End  -->

	<!-- Footer start -->
	<%= render "erp/vnmechanical/frontend/modules/footer" %>
	<!-- Footer end -->

	<!-- Script Start From Here -->
	<%= render "erp/vnmechanical/frontend/modules/javascript_files" %>
    
    <% if params[:controller] == "erp/vnmechanical/frontend/home" && params[:action] == "index" %>
	<!-- Funfact START -->
	<script type="text/javascript">
     $(document).ready(function($) {
          $('.start-count').each(function() {
                  var $this   = $(this);
                  $this.data('target', parseInt($this.html()));
                  $this.data('counted', false);
                  $this.html('0');
              });
              
              $(window).bind('scroll', function() {
                  var speed   = 3000;
                  $('.start-count').each(function() {
                      var $this   = $(this);
                      if(!$this.data('counted') && $(window).scrollTop() + $(window).height() >= $this.offset().top) {
                          $this.data('counted', true);
                          $this.animate({dummy: 1}, {
                              duration: speed,
                              step:     function(now) {
                                  var $this   = $(this);
                                  var val     = Math.round($this.data('target') * now);
                                  $this.html(val);
                                  if(0 < $this.parent('.value').length) {
                                      $this.parent('.value').css('width', val + '%');
                                  }
                              }
                          });
                      }
                  });
              }).triggerHandler('scroll');
      });
	</script>
    <% end %>
    <!-- Script End From Here -->

</body>
</html>